body {
    background-image: url('../images/imageBG.png');
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: rgba(254, 251, 251, 0.77);
    color: #ffffb5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-toggler-icon{
    background-image: url('../images/icon1.png');
}

.navbar-toggler{

}

nav ul li a {
    color: #5a3921;
    font-size: 1.5em;
    margin-left: 15px;
}

nav ul li a:hover {
    color: #2e660f;
}

.navbar-brand {
    color: #5a3921;
}

.navbar-brand:hover {

}

h1 {
    text-align: center;
    display:none;
}

h2 {
    text-align: center;
    color: #5a3921;
}
h3 {
    color: #5a3921;
}
h4 {
    text-align: center;
    color: #5a3921;
    margin: 20px 0 10px 0;
}

#tos {
    border-radius: 20px;    
    margin: 30px 0 0 0;
    padding: 10px;
    text-align:justify;
    background-color: #fff;
}

#logo {
    width: 220px;
    height: 120px;
    margin: 0 auto;
    display: block;
}

nav {
    margin-bottom: 30px;
}

article {
    margin: 60px 0px 0 0px;
    border-bottom: 1px dotted    black;
}
.about-team, .info-video {
    border-bottom: 0;
    margin:30px 0 0 0;
}

#mainContent {
    background-color: rgba(254, 251, 251, 0.77);
    border-radius: 20px;
    padding: 30px 20px 30px 20px;
}

.container-fluid{

}
.page-footer a {
    color: black;
}

.page-footer {
    background-color: rgba(254, 251, 251, 0.77);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#logInButton {
    margin-top:30px;
}

p span {
    font-weight: bold;
}

.page-footer h5 {
    color: #5a3921;
}

.page-footer{
    margin: 40px 0 0 0;
}

#filterBar {
    text-align: center;
    margin: 0 auto;
}

#passButton {
    margin-top:30px;
}
