body {
    background-color: #ffffb5;
}

.navbar {
    background-color: #7bc67b;
    color: #ffffb5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-toggler-icon{
    background-color: red;
}

nav ul li a {
    color: #ffffb5;
}

nav ul li a:hover {
    color: #5a3921;
}

.navbar-brand {
    color: #5a3921;
}

.navbar-brand:hover {
    color: #ffffb5;
}

h1 {
    text-align: center;
}