{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}
    <h1>Food4Share</h1>
    <section>
        {% for offer in offers %}
        <article>
            <h3>{{ offer.getTitle() }}</h3>
            <p>{{ offer.getDescription() }}</p>
        </article>
        {% endfor %}
    </section>
{% endblock %}