{% extends 'base.html.twig' %}

{%  block title %}Password recovered successful{% endblock %}

{% block body %}
    <h1>Email Restore Password</h1>
    <p>One email with reset link has been sent to the user {{ user.getUsername() }} and email {{ user.getEmail() }}</p>
{% endblock %}