{% extends 'base.html.twig' %}
{% block title %}Insert email for Reset Password{% endblock %}
{% block body %}
    <div class="container" id="mainContent">
        <h2>Please enter your registered email address to reset the password</h2>
        {{ form(resetPasswordEmailForm) }}
    </div>
{% endblock %}