{% extends 'base.html.twig' %}

{%  block title %}Password recovered successful{% endblock %}

{% block body %}
    <section id="mainContent">
        <h2>Restore Password</h2>
        <p>An email with an recovery link has been sent to {{ user.getUsername() }} and the email address {{ user.getEmail() }}</p>
    </section>
{% endblock %}