{% extends 'base.html.twig' %}

{%  block title %}Password recovered successful{% endblock %}

{% block body %}
    <h1>Email Restore Password</h1>
    <p>An email with an recovery link has been sent to {{ user.getUsername() }} and the email address {{ user.getEmail() }}</p>
{% endblock %}