
{% extends 'base.html.twig' %}

{%  block title %}Error Restore Password{% endblock %}

{% block body %}
    <h1>Error Restore Password</h1>
    <p>The inserted token for reset password is not valid</p>
{% endblock %}