{% extends 'base.html.twig' %}

{%  block title %}Confirm your new Password{% endblock %}

{% block body %}
    <section id="mainContent">
        <h2>Confirm new Password</h2>
        {{ form(formRestorePass) }}
    </section>
{% endblock %}