
{% extends 'base.html.twig' %}

{%  block title %}Successfull Restored Password{% endblock %}

{% block body %}
    <h1>Your Password is restored successful</h1>
    <p>The password for the user {{ user.getUsername() }} has been changed successful. You will be redirected to homepage in few seconds</p>

    <script>
        window.addEventListener('load', function(){
            window.setTimeout(function(){
                window.location = "{{ path('homepage') }}";
            }, 6000);
        });
    </script>
{% endblock %}