
{% extends 'base.html.twig' %}

{%  block title %}Successfull Restored Password{% endblock %}

{% block body %}
    <h1>Your Password is restored successful</h1>
    <p>the password for the user {{ user.getUsername() }} has changed with success.</p>
{% endblock %}