{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="mainContent">
        <h2>About Food4Share</h2>
        <section class="row">
            <iframe width="560" height="520" src="https://www.youtube.com/embed/7SqLz4O32vc" class="col-md-12 info-video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="col-md-12"><span>Source: </span>Food and Agriculture Organization of the United Nations</p>
            <article class="about-team col-md-6">
                <h3>Alvaro Costa Jr</h3>
                <img src="../public/images/team/Alvaro.jpeg" alt="Team Image Alvaro" style="filter:grayscale(100);">
                <p>“Individual commitment to a group effort: That is what makes a team work, a company work, a society work, a civilization work.”</p>
                <p>– Vince Lombardi</p>
            </article>
            <article class="about-team col-md-6">
                <h3>Daniel Huebner</h3>
                <img src="../public/images/team/Daniel.jpeg" class="team-image" style="width:250px; height: 250px;" alt="Daniel Teammember">
                <p>For me personally it was great to work on our final group project "Food4Share". Not only for the certification, also because it is an important topic up to date in our world. It could be show a possible way how to make our world better by sharing food instead of wasting it.
                    It was also a pleasure to be a part of our Team JYAD and the course  and work with these open minded people. Thanks also to NumericAll and the people they made fit4coding possible.</p>
            </article>
            <article class="about-team col-md-6">
                <h3>Yann HOFFMANN</h3>
                <img src="../public/images/team/Yann.jpeg" alt="Team Image Yann" style="width:250px; height: 250px;">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </article>
            <article class="about-team col-md-6">
                <h3>Jerry HOFFMANN</h3>
                <img src="../public/images/team/Jerry.jpeg" alt="Team Image Jerry" style="width:250px; height: 250px;">
                <p>It was nice. I hope I get a job asap.</p>
            </article>

            <article class="about-team col-md-12">
                <h4>Message from the team</h4>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </article>
        </section>
    </div>

{% endblock %}