{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="mainContent">
        <h2>About Food4Share</h2>
        <section class="row">
            <iframe width="560" height="520" src="https://www.youtube.com/embed/7SqLz4O32vc" class="col-md-12 info-video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="col-md-12"><span>Source: </span>Food and Agriculture Organization of the United Nations</p>
            <article class="about-team col-md-6">
                <h3>Alvaro Costa Jr</h3>
                <img src="{{ asset('images/team/Alvaro.jpeg') }}" alt="Team Image Alvaro" style="filter:grayscale(100%); width:250px; height:250px;">
                <p>“Individual commitment to a group effort: That is what makes a team work, a company work, a society work, a civilization work.”</p>
                <p>– Vince Lombardi</p>
            </article>
            <article class="about-team col-md-6">
                <h3>Daniel Huebner</h3>
                <img src="{{ asset('images/team/Daniel.jpeg') }}" class="team-image" style="width:250px; height: 250px;" alt="Daniel Teammember">
                <p>For me personally it was great to work on our final group project "Food4Share". Not only for the certification, also because it is an important topic up to date in our world. It could be show a possible way how to make our world better by sharing food instead of wasting it.
                    It was also a pleasure to be a part of our Team JYAD and the course  and work with these open minded people. Thanks also to NumericAll and the people they made fit4coding possible.</p>
            </article>
            <article class="about-team col-md-6">
                <h3>Yann HOFFMANN</h3>
                <img src="{{ asset('images/team/Yann.jpeg') }}" alt="Team Image Yann" style="width:250px; height: 250px;">
                <p>It was an honor to work together with such a great team. It was a new experience to work on an application together. The professionalism in our workflow helped us to resolve tasks.   I really liked the good atmosphere and the harmony while working.</p>
            </article>
            <article class="about-team col-md-6">
                <h3>Jerry HOFFMANN</h3>
                <img src="{{ asset('images/team/Jerry.jpeg') }}" alt="Team Image Jerry" style="width:250px; height: 250px;">
                <p>Personally I really liked working on the project with the team. It was a bit of a challenge for me to be the project manager, but in this role I learned a lot about myself. For me the project was a nice adventure. I'm really proud to see what we achieved in two weeks.</p>
            </article>
        </section>
    </div>

{% endblock %}