{% extends 'base.html.twig' %}

{% block title %}add offer{% endblock %}

{% block body %}
    <h1>Add Offer</h1>
    <section id="mainContent">
        {{ form(CreateOfferForm) }}
    </section>
{% endblock %}
