{% extends 'base.html.twig' %}

{% block title %}add offer{% endblock %}

{% block body %}
    <h2>Add Offer</h2>
    <section id="mainContent">
        {{ form(CreateOfferForm) }}
    </section>
{% endblock %}
