{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <section id="mainContent">
        <h2>Edit your information</h2>

        {{ form(ProfileEditForm) }}
    </section>
{% endblock %}
