

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Food4Share</h5>
                <p>Your platform to share your leftover food, help us to fight food waste! Contribute to save our planet and reduce your ecological footprint! </p>
                <!-- Call to action -->
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% else %}
                    <ul class="list-unstyled list-inline ">
                        <li class="list-inline-item">
                            <h5 class="mb-1">Register for free</h5>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path ('app_register') }}" class="btn btn-success btn-rounded">Sign up!</a>
                        </li>
                    </ul>
                {% endif %}
                <!-- Call to action -->
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-paper-plane">
                            <a href="mailto:fit4food4share@gmail.com?subject=Food4Share Feedback">Mail</a>
                        </i>
                    </li>
                    <li>
                        <address>
                            Dream team<br>
                            7, Technoport
                            LUXEMBOURG
                        </address>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Legal</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path ('terms') }}">Terms</a>
                    </li>
                    <li>
                        <a href="{{ path ('app_about') }}">About Us</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="{{ path ('terms') }}">Food4Share Team FeedTheWorld</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
