{% extends 'base.html.twig' %}

{% block title %}terms{% endblock %}

{% block body %}
    <section id="tos">
    <h1>Terms</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet consequatur culpa cum doloremque dolores ea eius
        est ipsam labore maiores odio repellat repellendus saepe sint ut vel veritatis, voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad beatae deleniti dicta dolores est et
        expedita harum ipsum iste molestiae, mollitia, nemo nostrum nulla praesentium provident repellendus, unde
        vitae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt odio, tempore. Eaque facilis fugiat illo.
        Architecto autem distinctio et libero molestiae nihil totam voluptatibus. Fugiat fugit nesciunt officia
        perferendis qui.</p>
    </section>
{% endblock %}
