{% extends 'base.html.twig' %}

{% block title %}Register User{% endblock %}

{% block body %}
    <h2>Create Account</h2>
<section id="mainContent">
        {{ form(registrationForm) }}
</section>
{% endblock %}
