{% extends 'base.html.twig' %}

{% block title %}Register User{% endblock %}

{% block body %}
    <h1>Register user</h1>
<section id="mainContent">
        {{ form(registrationForm) }}
</section>
{% endblock %}
